body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.movie {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.movie img {
    max-width: 300px;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.movie-info {
    padding: 20px;
    flex-grow: 1;
}

.movie-info h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.movie-info p {
    margin: 5px 0;
    color: #666;
}

p {
    font-size: 16px;
}

@media (max-width: 600px) {
    .movie {
        flex-direction: column;
        max-width: 100%;
    }

    .movie img {
        max-width: 100%;
        border-radius: 8px 8px 0 0;
    }
}

.comments {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.un {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.cm {
    margin-top: 5px;
    color: #555;
    line-height: 1.5;
}

form {
    margin-top: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    height: 60px;
}

input[type="submit"],
#toggleButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

input[type="submit"]:hover,
#toggleButton:hover {
    background-color: #0056b3;
}

#toggleButton {
    display: inline-block;
    text-align: center;
}

.comments .comment-container {
    margin-bottom: 10px;
}
